* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    color: #333;
}

*:focus {
    outline: none;
}


/*
 ====================================
            HERO SECTION
 ====================================
 */

nav {
    display: flex;
    justify-content: space-between;
}

.company-heading {
    text-align: center;
    font-family: sans-serif;
    font-size: 9.4rem;
    font-weight: 1500;
    font-style: italic;
    margin-top: 5rem;
    margin-bottom: 5rem;
    letter-spacing: 2px;
}

.sub-heading {
    letter-spacing: 1.5px;
    font-size: 3.6rem;
    font-weight: 600;
    text-align: center;
}

.head-container {
<<<<<<< HEAD
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.5),
      rgba(34, 34, 34, 0.5)
    ),
    url("../image/background-hero-section.jpg");
  height: 75vh;
  background-size: cover;
=======
    background-image: linear-gradient( rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5)), url("../image/background-hero-section.jpg");
    height: 75vh;
    background-size: cover;
>>>>>>> 1384de2a1f97ce6ba1c8da9bdd913299a71ab96e
}

.section-head {
    width: 140rem;
    margin: auto;
    color: #fff;
    padding: 2rem;
}

.nav-links-list {
    font-size: 2.4rem;
    display: flex;
    list-style: none;
    font-weight: 500;
    gap: 3.6rem;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.location-search-dish {
    color: #333;
    display: flex;
    width: 80rem;
    height: 7rem;
    background-color: #fff;
    border-radius: 9px;
    padding: 2.4rem;
    margin-top: 6rem;
    margin-left: 28rem;
    align-items: center;
    justify-content: center;
}

.location-search-dish span {
    color: #777;
    font-size: 3.6rem;
}

.location {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.location select {
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 12px;
    font-size: 2rem;
}

.location-icon {
    width: 3.6rem;
    height: 3.6rem;
    color: red;
}

.search-dish {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

#entered-dish::placeholder {
    font-size: 1.8rem;
    color: #777;
}

#entered-dish {
    border: none;
    padding: 1.5rem 3rem;
    width: 45rem;
    font-size: 1.8rem;
}

.search-icon {
    width: 3.4rem;
    height: 3.4rem;
    color: #777;
    margin-left: 2rem;
}